<!--  views/partials/footer.ejs starts here  -->
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>This site was built using Node.js, Express.js and EJS templates by Yonus Billow</p>
</footer>

</body>
</html>