<%- include('../partials/header') %>
<h1><%=title%></h1>
      <p>I am an emerging Full-Stack Developer part of the Puget Sound Year Up program. 
        In my time in the program, I have learned and used tools like HTML, CSS, and JavaScript by building webpages. 
        I come from a different working background before joining Year Up where most of my focus was Customer Service based. 
        This led me to develop effective communication skills as well as a problem-solving ability which I plan on integrating into my journey to the Tech Field.</p>    
<p>This website is an example of how to use EJS made in class with our instructor.</p>    


      <img width="200" src="https://www.chautauquasportshalloffame.org/2019/wp-content/uploads/2020/01/about.jpg" alt="about">
   
      <%- include('../partials/footer') %>
