<%- include('../partials/header') %>
<h1><%=title%></h1>
<a href="https://www.linkedin.com/in/yonus-billow/" target="_blank">LinkedIn</a>
 <img width="500"  src="https://www.cpa-wfy.com/wp-content/uploads/2016/01/LinkedInConnectButton.jpg" alt="linkedin">
<%- include('../partials/footer') %>