<%- include('../partials/header') %>
<h1><%=title%></h1>
<p>Watching sports: Football, Soccer, Basketball and Baseball</p>
<p>Outdoor activities that include; Swimming, Hiking, Stargazing</p>
<p>Gaming & Programming</p>
<p>Traveling</p>
  <img width="400" src="https://ygo-assets-websites-legacy.yougov.net/cumulus_uploads/entry/18785/sports%20tickets%20cover-3.jpg" alt="watching sports">
  <img width="400" src="https://www.miamiandbeaches.com/getmedia/460de76a-147f-492e-abdc-926d4a8e0c61/Oleta_State_River_Park_Ecoadventure_1-06-21.jpg" alt="outdoor activities">
  <img width="400" src="https://post.healthline.com/wp-content/uploads/2020/09/8931-Traveling_Risk_Psychosis-1200x628-Facebook-1200x628.jpg" alt="traveling">
 
<%- include('../partials/footer') %>