<%- include('../partials/header') %>
<h1><%=title%></h1>
      <p>Hello. My name is Yonus Billow and this is a tutorial page made from EJS.</p>    
      <p>Feel free to look around as I have attached links to pages about me.</p>    
     <img width="700" src="https://www.shutterstock.com/image-vector/welcome-poster-spectrum-brush-strokes-260nw-1146069941.jpg" alt="welcome">
      <%- include('../partials/footer') %>
   
